* {
	font-family: Arial;
}

#canvas {
	margin: 0;
	padding: 0;
	border: 1px solid black;
	height: 100vh;
	display: flex;
	justify-content: center;

}

#heading {
	position: absolute;
	height: 20px;
	border: 1px solid black;
	right: 0;

}

#heading *:link {
	color: black;
	text-decoration: none;
}

#heading *:hover {
	text-decoration: underline;
}

#heading *:visited {
	color: black;
}

.center {
	transform: translateY(-20vh);
	align-self: center;

}

.center, #query, #logo, #lucky, #search {
	border: 1px solid black;
	display: block;
	margin: auto;
}

#query {
	width: 500px;
	height: 27px;

	transform: translateY(2vh);
}

#buttonCanvas {
	border: 1px solid black;
	transform: translateY(5vh);

	font-weight: bold;
	color: rgba(112, 111, 111, 0.96);
	right: 0;
	text-align: center;

}

#lucky, #search {
	display: inline;
	font-size: 11px;
}

