#focus {
	margin: 0;
	padding: 0;
	border: 1px solid black;
	height: 100vh;
	display: flex;
	justify-content: center;
}

#heading {
	position: absolute;
	height: 20px;
	border: 1px solid black;
	right: 0;
}

#center {
	border: 1px solid black;
	align-self: center;
}

#query {
	width: 500px;
	height: 27px;

	transform: translateX(-55vh);
	transform: translateY(2vh);
	display: block;
	margin: auto;
}
div #logo {
	display: block;
	border: 1px solid black;
	margin: auto;
}
div #lucky, div #search {
	border: 1px solid black;

	transform: translateY(10vh);
}