#focus {
	margin: 0;
	padding: 0;
	border: 1px solid black;
	height: 100vh;
}

#heading {
	text-align:  right;
}

#center  {
	display: block;
	position:  relative;
	width:  272px;

	left:  80vh;
	top:  17vh;
}

#query {
	position:  relative;
	width:  500px;
	height: 27px;
	left:  -12vh;
	transform:  translateY(2vh);
}

#lucky #search {
	transform:  translateY(5vh);
}